In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_train = pd.read_csv("D:/Documents/GitHub/gbm_pipeline/data/TPS-FEV2021/train.csv")
df_test = pd.read_csv("D:/Documents/GitHub/gbm_pipeline/data/TPS-FEV2021/test.csv")
df_train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,A,B,A,A,B,D,A,E,C,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,B,A,A,A,B,B,A,E,A,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,A,A,A,C,B,D,A,B,C,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,A,A,A,C,B,D,A,E,G,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,A,B,A,A,B,B,A,E,C,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [3]:
df_test.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,A,B,A,C,B,D,A,E,E,...,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,5,A,B,A,C,B,D,A,E,C,...,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,15,A,B,A,C,B,D,A,E,C,...,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,16,A,A,B,A,B,D,A,E,E,...,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,17,A,B,A,A,B,B,A,E,E,...,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931

In [35]:
df_train.columns[1:11]

Index(['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9'],
      dtype='object')

In [13]:
columns = df_test.columns[1:]
columns

Index(['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6',
       'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13'],
      dtype='object')

In [14]:
df_train[columns].describe()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,0.524634,0.506649,0.444115,0.446214,0.455471,0.508337,0.478345,0.455904,0.459321,0.526899,0.504943,0.529938,0.524549,0.503349
std,0.204875,0.235269,0.200089,0.238669,0.200695,0.231612,0.192432,0.204493,0.220642,0.204025,0.201549,0.230860,0.220892,0.225218
min,-0.093505,-0.055105,-0.060274,0.134760,0.189216,-0.087247,0.043953,0.208703,0.004041,0.073040,0.059644,0.064161,-0.005600,0.158121
25%,0.370451,0.352307,0.314121,0.214572,0.279853,0.338747,0.339896,0.278041,0.308655,0.361957,0.338898,0.316662,0.332143,0.291289
50%,0.492208,0.615156,0.457271,0.377823,0.411351,0.441384,0.410090,0.360736,0.425801,0.488867,0.519855,0.558827,0.407365,0.433909
75%,0.654793,0.688150,0.554835,0.719758,0.621808,0.709515,0.604246,0.639388,0.541525,0.752765,0.672809,0.720381,0.732431,0.730870
max,1.052666,0.851746,1.017689,1.006469,0.994050,1.044433,1.093312,1.036541,1.014156,0.972091,1.029773,1.038049,0.961370,0.873579

continuous variables usually range from 0 to 1 (sometimes going under 0 and over 1)

Variables cat0 to cat9 are categorical var - cont0 to cont13 are continuous. The goal is to use those var to predict the value of target

In [6]:
df_train["target"].describe()

count    300000.000000
mean          7.456260
std           0.887295
min           0.000000
25%           6.798341
50%           7.496503
75%           8.161166
max          10.309208
Name: target, dtype: float64

This is a regression problem

In [11]:
df_train[10:23].describe()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,24.307692,0.389132,0.609212,0.525217,0.289607,0.419825,0.358355,0.564111,0.393302,0.280609,0.426210,0.474876,0.456786,0.461901,0.527613,7.239149
std,8.673567,0.128867,0.202615,0.139657,0.127325,0.182397,0.163117,0.205342,0.154788,0.137059,0.150747,0.136572,0.210569,0.179657,0.238560,0.840438
min,12.000000,0.126257,0.084490,0.180088,0.166095,0.233912,0.202051,0.324627,0.246297,0.069842,0.237650,0.304075,0.188735,0.274138,0.211064,5.479105
25%,18.000000,0.302363,0.616771,0.476830,0.209487,0.279607,0.235558,0.412714,0.262769,0.145539,0.298140,0.367734,0.271192,0.337926,0.283809,6.812011
50%,25.000000,0.442745,0.648888,0.496365,0.258033,0.328310,0.322267,0.479256,0.350437,0.303340,0.404755,0.449753,0.402557,0.355698,0.489294,7.273783
75%,28.000000,0.492684,0.741295,0.631165,0.340954,0.509079,0.372352,0.786168,0.489613,0.401012,0.556574,0.590285,0.656143,0.617615,0.749156,7.675697
max,41.000000,0.518279,0.825237,0.698699,0.638475,0.763186,0.752138,0.904086,0.677460,0.472777,0.723709,0.712621,0.795555,0.823206,0.831791,8.523926

In [24]:
df["cat9"].unique()

array(['I', 'F', 'N', 'K', 'B', 'L', 'G', 'H', 'O', 'A', 'J', 'M', 'C',
       'D', 'E'], dtype=object)

Categorical variables contain letters that indicate a category. Some are binary A, B but some contain many more categories, cat9 range from A to N (14 categories)

In [25]:
from easydict import EasyDict as edict

config = edict()

In [26]:
config.hyper = edict()
config.hyper.LGBM_REG = {
    'reg_alpha': 6.147694913504962,
    'reg_lambda': 0.002457826062076097,
    'colsample_bytree': 0.3,
    'subsample': 0.8,
    'learning_rate': 0.0005,
    'max_depth': 20,
    'num_leaves': 111,
    'min_child_samples': 285,
    'random_state': 48,
    'n_estimators': 320000,
    'metric': 'rmse',
    'cat_smooth': 39
}

In [27]:
config.hyper.LGBM_REG

{'reg_alpha': 6.147694913504962,
 'reg_lambda': 0.002457826062076097,
 'colsample_bytree': 0.3,
 'subsample': 0.8,
 'learning_rate': 0.0005,
 'max_depth': 20,
 'num_leaves': 111,
 'min_child_samples': 285,
 'random_state': 48,
 'n_estimators': 320000,
 'metric': 'rmse',
 'cat_smooth': 39}

In [33]:
model = "LGBM_REG"
config.hyper[model]

{'reg_alpha': 6.147694913504962,
 'reg_lambda': 0.002457826062076097,
 'colsample_bytree': 0.3,
 'subsample': 0.8,
 'learning_rate': 0.0005,
 'max_depth': 20,
 'num_leaves': 111,
 'min_child_samples': 285,
 'random_state': 48,
 'n_estimators': 320000,
 'metric': 'rmse',
 'cat_smooth': 39}

In [32]:
config

{'hyper': {'LGBM_REG': {'reg_alpha': 6.147694913504962,
   'reg_lambda': 0.002457826062076097,
   'colsample_bytree': 0.3,
   'subsample': 0.8,
   'learning_rate': 0.0005,
   'max_depth': 20,
   'num_leaves': 111,
   'min_child_samples': 285,
   'random_state': 48,
   'n_estimators': 320000,
   'metric': 'rmse',
   'cat_smooth': 39}}}

In [ ]:
config.hyper