In [1]:
import pandas as pd

In [2]:
sub1 = pd.read_csv("D:/Documents/GitHub/ml-pipeline/projects/TPS-AUG2021/submission_XGB_REGRESSION.csv")
sub2 = pd.read_csv("D:/Documents/GitHub/ml-pipeline/projects/TPS-AUG2021/submission_XGB_REGRESSION_2.csv")
sub3 = pd.read_csv("D:/Documents/GitHub/ml-pipeline/projects/TPS-AUG2021/submission_XGB_REGRESSION_3.csv")
sub4 = pd.read_csv("D:/Documents/GitHub/ml-pipeline/projects/TPS-AUG2021/submission_LGBM_REGRESSION_2.csv")

In [3]:
sub_final = sub1
sub_final.head()

       id      loss
0  250000  8.185250
1  250001  4.581345
2  250002  8.502809
3  250003  7.347234
4  250004  7.137304

In [4]:
sub_final["loss"] = (sub1["loss"]*0.15 + sub2["loss"]*0.20 + sub3["loss"]*0.5 + sub4["loss"]*0.15)
sub_final.head()

       id      loss
0  250000  7.910298
1  250001  4.694531
2  250002  8.566757
3  250003  7.429332
4  250004  7.104346

In [6]:
sub_final.to_csv('D:/Documents/GitHub/ml-pipeline/projects/TPS-AUG2021/submission_final.csv', index=False)